* {
    padding: 0;
    margin: 0;
  }
  .clear
  {clear: both;}
  body
  {
    background-color: #67BFD8;
  }
header
{
background-color: #191F35;
}

a
{
    text-decoration: none;
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.active
{color: #FFC400;}

.countainer
{
    width: 80%;
    margin: auto;
}
  .logo
  {
      width: 8%;
      float: left;
  }
  .logo img
  {
      width: 100%;
  }

  .nav {
      width: 80%;
      float: left;
     
  }
  .nav li 
  {
      display: inline-block;
      padding: 20px 40px;
  }
  #first-li
  {
      margin-left: 250px;
  }
  .parent-section
  {   position: relative;
      width: 94%;
      height: 500px;
      background-color: coral;
      margin: auto;
      margin-top: 25px;
      border-radius: 84px;
     

  }
  .first-child
  {position: absolute;
    width: 50%;
    border: 1px black;
    height: 100%;
    background-color:#FFC400;
    border-radius: 84px 0  0 84px;
   
  }

  .second-child
  {position: absolute;
      width: 50%;
      height: 100%;
      left: 50%;
      background-image: url(pics/pic.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      border-radius:0 84px 84px 0 ;
  }
  .second-child img
  {
      width: 100%;
  }
  form
  {
      text-align:center;
      padding:7%;
  }
  label
  {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      text-transform: capitalize;
  }
  input[type="text"],input[type="number"]
  {
    margin:10px;
    border: none;
    width: 300px;
    height: 30px;
    border-radius: 20px;
  }

  input[type="radio"]
  {
      margin: 0 40px;
  }
  #pp
  {
      margin: 10px;
      font-size: 20px;
  }
  button
  {
      text-transform: capitalize;
      width: 150px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      padding: 15px;
      background-color:#000000;
      color: rgb(255, 255, 255);
      margin: 25px auto;
      border: none;
      border-radius: 20px;
  }
  a
  {
      font-size: 18px;
  }



  




 
 @media screen and (max-width: 600px)
   {
       .logo
       {
           width: 20%;
       }
     .nav li 
    {
        padding: 20px 6px 10px 6px;
    } 
    #first-li
    {
        margin-left: 50px;
    }
    .parent-section
    {   
        height: 650px;
        margin: auto;
        margin-top: 25px;
        border-radius: 42px;
        margin-bottom: 40px;
  
    }
    .first-child
     {position: absolute;
      border: 1px black;
      border-radius: 42px 0  0 42px; 
      width: 100%;
     
    }
  
    .second-child
    {
        /* background-image: url(pics/pic.jpg);
        border-radius:0 42px 42px 0 ; */
        display: none;

    }
    .second-child img
    {
        width: 100%;
    }
    label
    {
        display: block;
        width: 100%;
        margin: auto;
        font-size: 15px;
    }
    /* input[type="text"],input[type="number"]
    {
      margin:5px;
      display: block;
      width: 200px;
      height: 15px;
      border-radius: 10px;
    } */
    input[type="text"],input[type="number"]
    {
      margin:5px auto;
      display: block;
      width: 175px;
      height: 40px;
      border-radius: 10px;
    }
    input[type="radio"]
    {
        margin: 0 20px;
    }
    button
    {
        width: 80px;
        font-size: 15px;
        padding: 15px;
        margin: 12px auto;
        border-radius: 10px;
    }
 
    #tt{
        margin:20px 15px;

    }
    #pp
    {
        margin-top:-20px;
        margin-bottom: 10px;
    }
    #rdp
    {margin:5px 0;}
    a
    {
        font-size: 12px;
    }
  


   }




     
  @media screen and (max-width: 400px)
   {

       .logo
       {
           width: 20%;
       }
       .countainer
       {
           width: 100%;
       }
   
     .nav li 
    {
        padding: 20px 6px 10px 6px;
    } 
    #first-li
    {
        margin-left: 50px;
    }
    .parent-section
    {   
        height: 720px;
        margin: auto;
        margin-top: 25px;
        border-radius: 20px;
        margin-bottom: 40px;
  
    }
    .first-child
    {position: absolute;
      border: 1px black;
      border-radius: 20px 0  0 20px;
      width: 100%;
     
    }
  
    .second-child
    {
        display: none;


        /* border-radius:0 20px 20px 0 ; */
    }
    .second-child img
    {
        width: 100%;
    }
    label
    {
        display: block;
        width: 100%;
        margin: auto;
        font-size: 16px;
    }
    input[type="text"],input[type="number"]
    {
      margin:5px auto;
      display: block;
      width: 175px;
      height: 40px;
      border-radius: 10px;
    }
    input[type="radio"]
    {
        margin: 0 20px;
    }
    button
    {
        width: 70px;
        font-size: 10px;
        padding: 10px;
        margin: 10px auto;
        border-radius: 7px;
    }
 
    #tt{
        margin:20px 15px;

    }
    #pp
    {
        margin-top:-20px;
        margin-bottom: 10px;
    }
    #rdp
    {margin:5px 0;}
    a
    {
        font-size: 12px;
    }
  


   }


   
