*
{margin: 0;
padding: 0;
box-sizing: border-box;}
.clear
{
     clear: both;
}
/* general */
ul
{
    float: left;
}
li
{
    display: inline-block;
    list-style: none;
}
a
{
    text-decoration: none;
}
/* general */




 .logo
{
    margin: 5%;
    display: block;
   
}
.logo img
{
    width: 40%;
    display: block;
    margin: auto;

}
header>ul
{
    margin: 10px;
    width: 100%;
    text-align: center;
    /* border: 2px solid black; */
}
header ul >li
{
    margin: 0px;
    padding:3px;
    border: black solid 2px;
}
header ul li>a
{
    padding: 10px;
    font-size: 12px;
    font-family: fantasy;
}
nav ul li>a
{
    padding: 4px;
    font-size: 16px;
    font-family: cursive;
}
.title-g
{
margin-top: 10px;
font-size:40px;
}
.para
{
    font-size:10px;
    line-height: 2;
}
footer
{margin-top: 30px;}
.parent-carts
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: auto;
    margin-bottom: 20px;

}
.crt
{
    border: 1px solid black;
    padding: 10px;
    line-height: 1.5;
    margin:10px;
}
.img img
{
    width: 100%;
}
.title
{ 
     font-size: 40px;
}
.rrp
{color: grey;
font-size: 25px;}
.price
{
    font-size: 25px;
}
span
{
    text-decoration: underline;
    font-size: 25px;

}
.saving
{
    text-transform: capitalize;
    color: rgb(40, 209, 40);
    font-size: 25px;
}
nav ul li a:hover
{
    text-decoration:underline;
}
header ul li>a:hover
{
    color: rgb(28, 143, 209);
}

@media screen and (min-width: 600px) {
    .parent-carts{
        flex-direction: row;
        flex-wrap: wrap;
    
    }
    .crt{
        width: 45%;
        border: 1px solid black;
        margin: 15px;
    }
    .para
    {
        font-size: 20px;
    }
  }

  @media screen and (min-width: 1050px) {
      .logo
      {
          margin: 10px;
          width:20%;
          float: left;
      }
      .logo img{
          width: 50%;
          float: left;
      }

      header>ul
{
    margin: 25px;
    width: 70%;
    text-align: left;
    float: left;
}
header ul >li
{
    margin: 0px;
    padding:10px;
    border: none;
}
header ul li>a
{
    padding: 10px;
    font-size: 22px;
    color:black;
}
nav ul{
    margin-left:15px;
}
nav ul li>a
{
    padding: 8px;
    font-size: 20px;
    color: black;
}
.title-g
{
    margin-left:12px;

}
      .para{
          font-size: 20px;
          line-height: 1.2;
      }


    .parent-carts{
        flex-direction: row;
    }
    .crt{
        width: 20%;
        border: 1px solid green;
        margin: 7px;
    }
    header ul li>a:hover
    {
        font-size: 25px;
    }
  }

  @media print {
      header,nav
      {
          display: none;
      }
  }









 
 

    



















