.clear
{
     clear: both;
}


.countainer
{
    width: 80%;
    margin: auto;
}
.logo
{
    width: 10%;
    float: left;
}
.logo img
{
    width: 100px;

}
header>ul
{
    width: 80%;
    float: left;

}
header>ul li
{
    display: inline-block;
    list-style: none;
    padding: 5px 45px 10px 0px;


}
header>ul li a
{
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
header> ul li a:hover
{font-size: 20px;}
nav>ul
{
    width: 50%;
    

}
nav>ul li
{
    display: inline-block;
    list-style: none;


}
nav>ul li a
{
    text-decoration: none;
    font-size: 16px;
    color:grey;
    padding: 15px 25px 15px 0;
}
nav> ul li a:hover
{
    text-decoration: underline;
}
.parent-carts
{
    display: flex;
}

.crt
{
    width: 200px;
    border: solid black;
    padding: 10px;
    margin: 20px;
}
.img img
{
    position: relative;
    width: 200px;
    height: 200px;
  
}

.pi
{
    display: block;
    position: absolute;
    margin-left: 17%;
    margin-top: 45%;

}
.rrp
{color: grey;}
span
{
    text-decoration: underline;
}
.saving
{
    text-transform:capitalize;
    color: rgb(40, 209, 40);
}
